<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <div>
      <a mat-button> Teste 1</a>
      <a mat-button> Testes 2 </a>
      <a mat-button> Teste 3 </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item > Teste 1 </a>
      <a mat-list-item > Teste 2 </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="col-sm-2" style="height: 88vh;">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>